---
---

#drop-target {
	padding: 20px;
	border: 1px solid black;
	&.hover {
		background: #000;
		color: #fff;
	}
	height: calc(100vh - 20em);
}

// as per https://github.com/fengyuanchen/cropperjs

/* Limit image width to avoid overflow the container */
#crop-container {
	display: block;
	height: 400px;
	width: 400px;
}
#upload-target {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
  max-height: 100%;
}

body {
	background: #000;
}
.step {
	background: #202020;
	color: white;
	h1, h2 {
		color: #ccc;
		font-family: Quicksand,'Open Sans',Helvetica,Arial,Verdana,sans-serif;
		font-weight: lighter;
	}
	font-family: 'Open Sans',Helvetica,Arial,Verdana,sans-serif;
	padding: 1em 2em;
	position: absolute;
	left: 2em;
	right: 2em;
	margin: 2em;
	min-height: calc(100vh - 8em);
	img, canvas {
		max-width: 100%;
	}
}

.collapsable {
	max-width: 100%;
	overflow: auto;
	> *:first-child {
		cursor: pointer;
		&:before {
			display: inline-block;
			width: 1.5em;
		}
	}
	&:not(.collapsed) {
		> *:first-child {
			&:before {
				content: '\25be';
			}
		}
		> *:nth-child(n + 2) {

		}
	}
	&.collapsed {
		> *:first-child {
			&:before {
				content: '\25b8';
			}
		}
		> *:nth-child(n + 2) {
			display: none;
		}
	}
}

form > ul {
	list-style: none;
	> li {
		list-style: none;
		> label {
			display: inline-block;
			min-width: 10em;
			&:after {
				content: ':'
			}
		}
	}
}

table.pixels {
	border: 1px solid black;
	border-collapse: collapse;
	background: white;
	color: black;
	tr {
		// Apparently we number these from one.
		&:nth-child(3n + 1) {
			border-top: 1px solid black;
			background: #fcc;
		}
		&:nth-child(3n + 2) {
			background: #cfc;
		}
		&:nth-child(3n) {
			border-bottom: 1px solid black;
			background: #ccf;
		}
		td {
			width: 2em;
			border-left: 1px solid black;
			border-right: 1px solid black;
		}
	}
}

table.histogram {
	width: 100%;
	th {
		width: 12em;
	}
	td.count {
		width: 3em;
	}
	td.bar {
		width: calc(100% - 15em);
		> div {
			display: inline-block;
			height: 1em;
		}
	}
	tr.high td.bar > div {
		background: red;
	}
	tr.low td.bar > div {
		background: red;
	}
	tr.ok td.bar > div {
		background: green;
	}
}

.hidden {
	display: none;
}