---
---

#drop-target {
	padding: 20px;
	border: 1px solid black;
	&.hover {
		background: #000;
		color: #fff;
	}
}

// as per https://github.com/fengyuanchen/cropperjs

/* Limit image width to avoid overflow the container */
#crop-container {
	display: block;
	height: 400px;
	width: 400px;
}
#upload-target {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
  max-height: 100%;
}

.step {

}

table.pixels {
	border: 1px solid black;
	border-collapse: collapse;
	background: white;
	color: black;
	tr {
		// Apparently we number these from one.
		&:nth-child(3n + 1) {
			border-top: 1px solid black;
			background: #fcc;
		}
		&:nth-child(3n + 2) {
			background: #cfc;
		}
		&:nth-child(3n) {
			border-bottom: 1px solid black;
			background: #ccf;
		}
		td {
			width: 2em;
			border-left: 1px solid black;
			border-right: 1px solid black;
		}
	}
}

.hidden {
	display: none;
}